.content {
    padding: 0.5rem;
}

.header {
    display: flex;
    justify-content: space-between;
}

.btn-primary {
    background-color: #4e73df;
    border-color: #4e73df;
    color: white;
    padding: 0.5rem 0.9rem;
    border-radius: 0.25rem;
    border-style: solid;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.btn-primary i {
    margin-right: 0.25rem;
}

.btn-primary:hover {
    background-color: #2e59d9;
    border-color: #2e59d9;
}



.table-content {
    margin-top: 1rem;
    overflow-x: auto;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
        font-size: 0.9rem;
    border: 1px solid #ddd;
}

th,
td {
    border-bottom: 1px solid #ddd;
    padding: 0.75rem;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: 500;
}

.table-content tr:hover {
    background-color: #eeeeee;
}

.btn-edit {
    background-color: #1cc88a;
    border-color: #1cc88a;
    color: white;
    padding: 0.3rem 1rem;
    border-radius: 0.25rem;
    border-style: solid;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
    margin-right: 0.5rem;
    text-decoration: none;
}



.btn-edit i {
    margin-right: 0.5rem;
}

.btn-edit:hover {
    background-color: #17a673;
    border-color: #17a673;
}

.btn-delete {
    background-color: #e74a3b;
    border-color: #e74a3b;
    color: white;
    padding: 0.3rem 1rem;
    border-radius: 0.25rem;
    border-style: solid;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
}
.btn-delete i {
    margin-right: 0.5rem;
}

.btn-delete:hover {
    background-color: #c23c2f;
    border-color: #c23c2f;
}

.pagination-links {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.result-links {
    margin: 0;
    color: #888888;
    font-size: 0.9rem;
}

.table-header {
    display: flex;
    margin-top: 1rem;
    justify-content: flex-start;
    margin-bottom: 0.5rem;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    width: 500px;
    padding: 0.4rem 0.6rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem 0 0 0.25rem;
    outline: none;
}

.search-bar input[type="text"]:focus {
    border-color: #4e73df;
    box-shadow: 0 0 5px rgba(78, 115, 223, 0.5);
}

.search-bar button {
    padding: 0.4rem 0.7rem;
    border: 1px solid #ccc;
    border-left: none;
    background-color: #4e73df;
    color: white;
    border-radius: 0 0.25rem 0.25rem 0;
    cursor: pointer;
}

.search-bar a {
    margin-left: 1rem;
}

.result-links.no-products {
    color: #888888;
    font-size: 1rem;
    margin-left: 430px;
}
